<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source =.\Skrahome; Initial Catalog = CoursWorkDB; Integrated Security = True" providerName="System.Data.SqlClient"></add>
    <add name="Model1" connectionString="data source=Skrahome;initial catalog=CoursWorkDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=Skrahome;initial catalog=CoursWorkDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model2" connectionString="data source=Skrahome;initial catalog=CoursWorkDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model12" connectionString="data source=Skrahome;initial catalog=CoursWorkDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model13" connectionString="data source=Skrahome;initial catalog=CoursWorkDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model14" connectionString="data source=Skrahome;initial catalog=CoursWorkDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model3" connectionString="data source=Skrahome;initial catalog=CoursWorkDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model15" connectionString="data source=Skrahome;initial catalog=CoursWorkDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model16" connectionString="data source=Skrahome;initial catalog=CoursWorkDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model17" connectionString="data source=Skrahome;initial catalog=CoursWorkDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>